.banana-bg {
  background-image: url("../../public/images/banana-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-top: 100px;
}

// You can add custom styling here for the banana background
// For example, you might want to add:
.banana-bg .card {
  background-color: transparent;
  // background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
}

// Customize the login card styling
.banana-bg .container {
  padding: 2rem 0;
}

// custom input
.custom-input {
  background-color: $site-yellow-light;
  border: 1px solid $site-yellow-dark;
  color: $site-white;
  &:focus {
    background-color: $site-yellow-light;
    border: 1px solid $site-yellow-dark;
    color: $site-white;
  }
  &::placeholder {
    color: $site-white;
  }
  &:focus-visible {
    outline: none;
    box-shadow: 0 0 10px 0 $site-blue;
    border: 1px solid $site-blue;
    color: $site-blue;
    background-color: $site-white;
  }
}
