* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: $site-white;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

// FONTS USED FOR THE SITE
@font-face {
  font-family: InterLight;
  src: url("../assets/fonts/Inter_Light.ttf");
}
@font-face {
  font-family: InterRegular;
  src: url("../assets/fonts/Inter_Regular.ttf");
}

@font-face {
  font-family: SoraLight;
  src: url("../assets/fonts/Sora_Light.ttf");
}

@font-face {
  font-family: SoraRegular;
  src: url("../assets/fonts/Sora_Regular.ttf");
}

@font-face {
  font-family: SoraBold;
  src: url("../assets/fonts/Sora_Bold.ttf");
}

@font-face {
  font-family: SoraSemiBold;
  src: url("../assets/fonts/Sora_SemiBold.ttf");
}

.bg-yellow {
    background-color: $site-yellow !important;
}
.bg-yellow-light {
    background-color: $site-yellow-light !important;
}

.bg-blue {
    background-color: $site-blue !important;
}

.box-shadow-1 {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.btn-blue {
    background-color: $site-blue !important;
    color: $site-white !important;
    &:hover {
        background-color: $site-blue-dark !important;
        color: $site-white !important;
    }
    &:focus {
        background-color: $site-blue !important;
        color: $site-white !important;
    }
    &:focus-visible {
        outline: none;
        box-shadow: 0 0 10px 0 $site-blue;
        border: 1px solid $site-blue;
    }
    &:disabled {
        background-color: $site-blue-light !important;
        color: $site-white !important;
    }
}

.btn-link-white-underline {
    background-color: transparent !important;
    color: $site-white !important;
    text-decoration: underline;
    border: none !important;
    &:hover{
        color: $site-white-dark !important;
    }
}


