// Site Colors
$site-white: #ffffff;
$site-white-dark: #e0e0e0;
$site-black: #161616;
$site-yellow: #FFD700;
$site-yellow-dark: #ffc800;
$site-yellow-light: rgba(255, 230, 0, 0.12);
$site-blue: #1597ce;
$site-blue-dark: #10709c;
$site-blue-light: rgba(21, 151, 206, 0.12);

